

<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone1.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{phone1.name}}</h1>

<p>{{phone1.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone1.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone1.availability">{{availability | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone1.battery.type | checkifavailible}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone1.battery.talkTime | checkifavailible}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone1.battery.standbyTime | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone1.storage.ram | checkifavailible}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone1.storage.flash | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone1.connectivity.cell | checkifavailible}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone1.connectivity.wifi | checkifavailible}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone1.connectivity.bluetooth | checkifavailible}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone1.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone1.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone1.android.os | checkifavailible}}</dd>
      <dt>UI</dt>
      <dd>{{phone1.android.ui | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone1.sizeAndWeight.weight | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone1.display.screenSize | checkifavailible}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone1.display.screenResolution | checkifavailible}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone1.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone1.hardware.cpu | checkifavailible}}</dd>
      <dt>USB</dt>
      <dd>{{phone1.hardware.usb | checkifavailible}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone1.hardware.audioJack | checkifavailible}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone1.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone1.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone1.camera.primary | checkifavailible}}</dd>
      <dt>Features</dt>
      <dd>{{phone1.camera.features.join(', ') | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone1.additionalFeatures | checkifavailible}}</dd>
  </li>
</ul>
<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone1.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{phone2.name}}</h1>

<p>{{phone2.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone2.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone2.availability">{{availability | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone2.battery.type | checkifavailible}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone2.battery.talkTime | checkifavailible}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone2.battery.standbyTime | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone2.storage.ram | checkifavailible}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone2.storage.flash | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone2.connectivity.cell | checkifavailible}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone2.connectivity.wifi | checkifavailible}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone2.connectivity.bluetooth | checkifavailible}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone2.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone2.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone2.android.os | checkifavailible}}</dd>
      <dt>UI</dt>
      <dd>{{phone2.android.ui | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone2.sizeAndWeight.weight | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone2.display.screenSize | checkifavailible}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone2.display.screenResolution | checkifavailible}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone2.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone2.hardware.cpu | checkifavailible}}</dd>
      <dt>USB</dt>
      <dd>{{phone2.hardware.usb | checkifavailible}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone2.hardware.audioJack | checkifavailible}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone2.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone2.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone2.camera.primary | checkifavailible}}</dd>
      <dt>Features</dt>
      <dd>{{phone2.camera.features.join(', ') | checkifavailible}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone2.additionalFeatures | checkifavailible}}</dd>
  </li>
</ul>
