<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
      <select id = "phone1">
        <option ng-repeat = "phone in phones" value = {{phone.id}}>{{phone.name}}</option>
      </select>
      <select id = "phone2">
        <option ng-repeat = "phone in phones" value = {{phone.id}}>{{phone.name}}</option>
      </select>
      <button id = "compare_button">Compare</button>
      <script>
          function sendData(){
            var phone1 = document.getElementById("phone1").value;
            var phone2 = document.getElementById("phone2").value;
            window.location.replace("#/phones/" + phone1 + "/" + phone2);
          }
          document.getElementById("compare_button").addEventListener("click", sendData, false);
      </script>
    </div>
  </div>
</div>
